.content{
    margin-top: 100px;
    background:var(--bg-gray);
    
    &__container {
        display: flex;
    }
    &__left{
        padding: 200px 15px;
        width: 50%;
    }
    &__form{
        flex: 1 0 50%;
        padding-left: 10px;
    }

    &__title{
        font-size: 34px;
        font-weight: 500;
        margin-bottom: 20px;
        color: #000;
        text-align: center;
    }

    &__text{
        padding: 0 30px;
        color: var(--text-color);
        text-align: center;
        line-height: 2;
    }

    &__form-title{
        color: #000;
        font-weight: 600;
        margin-top: 50px;
    }

    @media (max-width: 768px){
        &__container{
            flex-direction: column;
            align-items: center;
        }

        &__left{
            width: 100%;
            padding: 20px 0;
        }

        &__form{
            width: 100%;
        }

        &__title{
            font-size: 24px;
            margin-bottom: 10px;
        }
        
        &__text {
            padding: 0px;
            font-size: 14px;
        }
        &__form-title{
            font-size: 20px;
        }
    }
}

.register-form {

    &__input{
        display: block;
        max-width: 590px;
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid var(--text-color);
        border-radius: 5px;
        height: 50px;

        &::placeholder{
            font-size: 14px;    
            opacity: 0.7;
        }
    }

    &__label {
        display: inline-block;
        margin-bottom: 3px;

        &:last-child{
           color: aqua;
        }
    }

    &__required-field{
        width: 7px;
        margin-bottom: 2px;
    }

    &__policy-link{
        color: var(--bg-blue);
    } 
    &__btn {
        display: block;
        margin: 35px auto 0;
        height: 50px;
        max-width: 365px;
        min-width: 250px;
        width: 50%;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        border: none;
    }
}
