
.header {
    width: 100%;
    max-height: 100px;
    background: #fff;
    position: fixed;
    top: 0;
    
    &__content{
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    &__burger{
        display: none;
    }

    &__logo-img{
        width: 100%;
        height: auto;
        max-height: 80px;
    }

    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__menu-item{
        padding: 8px 20px;
    }

    &__link{
        font-size: 14px;
    }

    &__menu-item:hover &__link{
        color: var(--bg-blue);
    }

    &__menu-item:not(:last-child):hover{
        background: var(--bg-gray);
    }
}

.btn {
    display: inline-block;
    background: var(--btn-color);
    padding: 10px 20px 10px 20px ;
    border-radius: 40px;

    &__link{
        color: #fff;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .header {
        &__menu{
            position: absolute;
            top: -250%;
            opacity: 0;
            width: 100%;
            background: #fff;
            left: 50%;
            transform: translateX(-50%);
            padding-bottom: 20px;
            transition: top 0.5s ease, opacity 0.5s ease; 
        }

        &__list{
            margin-top: 10px;
            flex-direction: column;
        }
        
        &__menu-item{
            padding: 8px 10px;
        }
        &__burger{
            display: block;
            position: relative;
            height: 40px;
            width: 50px;
            background: var(--btn-color);
            border-radius: 5px;
            padding: 0 10px;
            transition: all 0.5s ease;
        }

        &__burger-line{
            display: block;
            position: relative;
            top: 19px;
            width: 30px;
            height: 2px;
            background: #fff;
        }

        &__burger::after,
        &__burger::before{
            content: '';
            display: block;
            position: absolute;
            width: 30px;
            height: 2px;   
            background: #fff;     
            transition: all 0.5s ease; 
        }

        &__burger::after{
            bottom: 10px;
        }

        &__burger::before{
            top: 10px;
        }

        &__menu--active{
            top: 100%;
            opacity: 1;
        }
        
        &__burger--active &__burger-line{
            opacity: 0;
        }             
        
        &__burger--active::before {
            transform: rotate(45deg);
            top: 19px;
        }
    
        &__burger--active::after {
            transform: rotate(-45deg);
            bottom: 19px;
        }
    }
}