// _variables.scss
:root {
    --font-family: 'Open Sans';
    --font-size-base: 16px;
    --font-weight-base: 400;

    --text-color: #818181;
    --btn-color: #337ab7;
    --bg-blue: #3498db;
    --bg-gray: #f7f7f7;
}